$color-text: #546e7a;
$red : #e74c3c;
$green : #8bc34a;
$bg : #263238;
$yellow: #fcb322;
$orange: #ef6c00;

@mixin f300 {
    font-family: 'Robotoserif', sans-serif;
    font-weight: 300;
}

@mixin f500 {
    font-family: 'Robotoserif', sans-serif;
    font-weight: 500;
}

@mixin f700 {
    font-family: 'Robotoserif', sans-serif;
    font-weight: 700;
}