@import 'vars';
@import 'global';
@import 'fonts';


.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    
}

.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}

.header__btn{
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    
}
.header__btn-login{
    background-color: $green;
}
.header__btn-register{
    background-color: $red;
    margin-left: 7px;
}

.header__menu{
    background-color: $bg;
}

.menu{
    display: flex;
    align-items: center;
    height: 60px;
    
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 30px;
        }
        a{
            color: #fff;
            font-size: 16px;
        }
    }
}


.search{
    min-height: 530px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.search__inner{
    text-align: center;
    color: #fff;
    padding-top: 130px;
    padding-bottom: 80px;
    &-title{
        font-size: 48px;
        margin-bottom: 30px;
        font-weight: 700;
    }
    &-text{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            font-weight: 500;
            padding-left: 25px;
            padding-right: 60px;
            outline: none;
            
            &::placeholder{
                color: #90a4ae;
                font-weight: 500;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 16px;
            top: 18px;
            outline: none;
        }
    }
   
}

.products{
    padding: 110px 0px;
    background-color: #f4f6f5;
}

.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    button{
       font-size: 14px;
       padding: 12px 21px; 
       border: none;
       background-color: #fff;
       cursor: pointer;
       outline: none;
       &+button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        }
    }
    
    
}

.products__inner-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__item{
    max-width: 442px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    &-img{
        min-height: 250px;
        display: block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        min-height: 90px;
        align-items: center;
        border-bottom: 1px solid rgba(205, 214, 222, 0.75);
    }
    &-name{
        max-width: 310px;
    }
    &-title{
        color: $bg;
        font-weight: 500;
        font-size: 18px;
        display: block;
    }
    &-category{
        display: block;
        color: $green;
        font-size: 14px;
        font-weight: 500;
    }
    &-price{
        font-size: 20px;
        color: $bg;
        font-weight: 700;
    }
    &-info{
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        min-height: 70px;
        align-items: center;
    }
    &-autor{
        display: flex;
        align-items: center;
        max-width: 245px;
        .avatar{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }
        span{
            color: #546e7a;
            font-weight: 500;
            font-size: 14px;
        }
    }
    &-star{
        span{
            color: $bg;
            font-size: 14px;
            font-weight: 700;
        }
        
    }
}

.products__bottom-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
    button{
        margin: 45px 5px 0;
        color: $bg;
        font-size: 16px;
        border: none;
        background-color: #fff;
        padding: 20px 30px;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        cursor: pointer;
        outline: none;
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        }
    }
    
}

.products-slider{
    padding: 100px 0 120px;
    .slick-dots{
       text-align: center;
       margin-top: 30px;
       li{
           display: inline-block;
           margin-left: 4px;
           margin-right: 3px;
           &.slick-active{
               button{
                   background-color: $green;
               }
           }
           button{
               border-radius: 50%;
               background-color: rgb(232,232,232);
               border: none;
               font-size: 0;
               width: 16px;
               height: 16px;
               cursor: pointer;
               outline: none;
           }
       } 
    }
}



